/* universal selector */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

#nav {
    display: flex;
    /* background-color: aqua; */
    height: 75px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    z-index: 99;
    position: absolute;
    /* word-spacing: normal; */

    /* position: absolute;
    position: relative; */
}

#nav h4 {
    color: white;
    cursor: pointer;

}
#nav h4:hover{
    background-color: #ff7200;
    display: flex;
    font-size: larger;
    color: black;
}

#nav h2 {
    width: 220px;
    font-family: sans-serif;
    font-size: 22px;
    /* background-color: #fff; */
    color: #ff7200;
}

#nav input {
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 170px;
    z-index: -1;
    padding-right: 10px;
    background: transparent;
    border: 2px solid#ff7200;
    color: white;
}

input::placeholder {
    color: #fff;
    font-family: Arial;
}

#nav button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
    margin-left: -6%;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: #ff7200;
    border: 0px solid#ff7200;
    color: white;
    font-size: bold;
}

img {
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* background-size: cover;
    object-fit: cover; */
    z-index: -1;
    /* position: relative; */
    background-size: cover;
    object-fit: cover;
    position: absolute;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 99;
    color: #fff;
}

#main h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 145px;
    margin-top: 30%;
    letter-spacing: 2px;
}

span {
    color: #ff7200;
}

p {
    font-family: sans-serif;
    padding-left: 145px;
    margin-top: 10px;
}

#written button {
    height: 35px;
    margin-left: 145px;
    width: 120px;
    background-color: #ff7200;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid#ff7200;
    font-size: 15px;
}

#box {
    height: 480px;
    width: 350px;
    border: 2px solid black;
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);

}

#login-here {
    height: 35px;
    margin: 20px;
    margin-left: 60px;

    display: flex;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    width: 220px;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    color: #ff7200;
    border-radius: 10px;

}
#login-page input{
    /* width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif; */
    margin-top: 30px;
    background-color: transparent;
    margin-left: 60px;
    border-bottom: 1px solid #ff7200 ;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    height: 35px;
    width: 220px;
    color: white;
}

#login-page button{
margin-top: 30px;
height: 35px;
width: 220px;
margin-left: 60px;
font-size: 20px;
    font-weight: 700;
    background-color: #ff7200;
    font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
#login-page p{
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   padding-top: 20px;
   text-align: center;
   /* justify-content: center;
   text-align: center;
   justify-content: center; */
padding-left: 80px;

}
#login-page a{
    padding-left: 125px;
    color: #ff7200;
    /* text-transform: none; */
    text-decoration: none;
    font-family: sans-serif;
}
/* 
.icons a{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row; /* Optional, as this is the default */
 /* justify-content: center;
 align-items: center;
padding-bottom: -200px;

}
.icons ion-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    color: #fff;
    font-size: 32px;
   flex-direction: row;
    transition: 0.3s ease;
    padding-bottom: -200px;
    flex-direction: row; /* Optional, as this is the default */
    /* gap: 2px;
/* } */ 
.about{
    position: relative;
}

.about ul,
.service ul,
.design ul,
.contact ul{
    display: flex;
    color: #fff;
    flex-direction: column;
    font-size: small;
    
    list-style: none;
    font-style: italic;
    /* justify-content: space-around; */
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #ff7200;
  border-radius: 5px;
text-align: center;
align-items: center;
cursor: pointer;
justify-content: space-evenly;
margin-top: 10px;
opacity: 0;               /* Hide the dropdown */
pointer-events: none;     /* Disable interaction */
transform: translateY(0); /* Start position */
transition: all 0.3s ease; /* Smooth animation */
transform: translateY(-10px);

}

.about li,
.contact li,
.service li,
.design li{
    background-color: rgb(20, 20, 42);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about li:hover,
.contact li:hover,
.service li:hover,
.design li:hover{
    background-color: rgb(195, 182, 182);
    color: black;
}


#nav .about h4:hover + ul ,
#nav .contact h4:hover + ul,
#nav .design h4:hover + ul,
#nav .service h4:hover + ul{
    opacity: 1;                /* Show the dropdown on focus */
    pointer-events: all;       /* Enable interactions */
    transform: translateY(10px); /* Drop it down slightly */
    /* Smooth transition */
    display: flex;
    
}



